#reviews-block {
  background: #0f343d;
  color: #f5f4ec;
}
#reviews-block .reviews-block-inner {
  max-width: 1020px;
  margin: 0 auto;
  padding: 60px 30px;
}
#reviews-block h2 {
  margin: 0 0 70px;
  font-size: 40px;
  font-weight: 600;
  line-height: normal;
}
#reviews-block .reviews-cont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 60px 1fr 60px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  grid-gap: 60px;
}
#reviews-block .review-photo {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 26px;
  width: 130px;
  border: 4px solid #f5f4ec;
  border-radius: 50%;
  vertical-align: middle;
}
#reviews-block .review-stars-cont {
  margin-bottom: 15px;
}
#reviews-block .review-star {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("./newassets/icon-star-lightgreen.svg") no-repeat center;
  background-size: contain;
  vertical-align: middle;
}
#reviews-block .review-star:not(:last-of-type) {
  margin-right: 5px;
}
#reviews-block .review-title {
  margin: 0 0 10px;
  font-size: 27px;
  font-weight: 600;
  line-height: normal;
}
#reviews-block .review-description {
  margin: 0 0 20px;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.6;
}
#reviews-block .review-name {
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
}
@media screen and (max-width: 1000px) {
  #reviews-block h2 {
    margin: 0 0 30px;
    font-size: 30px;
  }
  #reviews-block .reviews-cont {
    grid-gap: 24px;
  }
  #reviews-block .review-photo {
    margin-bottom: 15px;
    width: 110px;
  }
  #reviews-block .review-stars-cont {
    margin-bottom: 10px;
  }
  #reviews-block .review-star {
    width: 25px;
    height: 25px;
  }
  #reviews-block .review-title {
    margin: 0 0 5px;
    font-size: 22px;
  }
  #reviews-block .review-description {
    margin: 0 0 15px;
    font-size: 14px;
    line-height: 1.5;
  }
  #reviews-block .review-name {
    font-size: 13px;
  }
}
@media screen and (max-width: 750px) {
  #reviews-block .reviews-block-inner {
    padding: 50px 30px;
  }
  #reviews-block .reviews-cont {
    width: 100%;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 35px;
  }
  #reviews-block .review {
    border-bottom: 2px solid #f5f4ec;
  }
  #reviews-block .review:nth-child(even) {
    text-align: right;
  }
  #reviews-block .review-description {
    max-width: 420px;
    display: inline-block;
  }
  #reviews-block .review-name {
    margin: 0 0 15px;
  }
}

#oilfree-block {
  margin-bottom: 20px;
  padding: 60px 0;
  background: #567d68;
  color: #f5f4ec;
  text-align: center;
}
#oilfree-block h2 {
  margin: 0 0 5px;
  font-size: 40px;
  font-weight: 600;
  line-height: normal;
}
#oilfree-block .subtitle {
  margin: 0 0 40px;
  font-size: 20px;
  line-height: 1.5;
}
#oilfree-block .cards-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#oilfree-block .card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 565px;
  max-width: 100%;
  padding: 20px;
  background: #f5f4ec;
  color: #0f343d;
}
#oilfree-block .card-img {
  margin-bottom: 30px;
  max-width: 100%;
  vertical-align: middle;
}
#oilfree-block .card-product {
  margin: 0 0 5px;
  font-size: 40px;
  font-weight: 600;
  line-height: normal;
}
#oilfree-block .card-price {
  margin: 0 0 15px;
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
}
#oilfree-block .card-benefits {
  margin: 0 0 25px;
  padding-left: 0;
  list-style: none;
  font-size: 20px;
  line-height: 1.5;
}
#oilfree-block .vs {
  margin: 0 10px;
  padding-top: 21.9%;
  font-size: 30px;
}
#oilfree-block .bottom-text {
  margin: 40px 0 0;
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
}
@media screen and (max-width: 1000px) {
  #oilfree-block .card {
    padding: 10px 10px 20px;
  }
}
@media screen and (max-width: 750px) {
  #oilfree-block {
    padding: 50px 10px 52px;
  }
  #oilfree-block h2 {
    margin: 0 0 10px;
    font-size: 30px;
  }
  #oilfree-block .subtitle {
    margin: 0 0 30px;
    font-size: 17px;
    line-height: 1.6;
  }
  #oilfree-block .cards-cont {
    margin: 0 -30px;
    padding: 10px;
    background: #f5f4ec;
  }
  #oilfree-block .card {
    padding: 0;
  }
  #oilfree-block .card-img {
    margin-bottom: 20px;
  }
  #oilfree-block .card-product {
    margin: 0 0 2px;
    font-size: 30px;
  }
  #oilfree-block .card-price {
    font-size: 20px;
  }
  #oilfree-block .card-benefits {
    margin: 0 0 20px;
    font-size: 17px;
    line-height: 1.6;
  }
  #oilfree-block .vs {
    margin: 0 9px;
    font-size: 20px;
    color: #0f343d;
  }
  #oilfree-block .bottom-text {
    margin: 30px 0 0;
    font-size: 20px;
  }
}
@media screen and (max-width: 475px) {
  #oilfree-block .vs {
    padding-top: 19%;
  }
}
/*# sourceMappingURL=newstyles.css.map */