
#product-cta-bar
{
	&:not(.showing) {
		pointer-events: none;
		opacity: 0;
	}

	transition: opacity 0.3s;
	opacity: 1;
	position: absolute;
	z-index: 1;
	height: 70px;
	background: $green;
	width: 100%;

	.main-column
	{
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 100%;

		.left
		{
			flex: 1;
			display: flex;
			flex-direction: row;
			align-items: center;

			.img-area
			{
				img
				{
					display: block;
					height: 40px;
					width: auto;
					margin-right: 20px;
					border: 3px solid #{$cream}99;
					border-radius: 3px;
				}
			}

			.text-area
			{
				display: flex;
				flex-direction: column;
				justify-content: center;

				h2
				{
					font-size: 22px;
					color: $cream;
					font-weight: 500;
					letter-spacing: 0.5px;
					margin: 0;
					margin-bottom: 4px;
				}

				.ratings
				{

				}
			}

			@media screen and (max-width: $medium-small)
			{
				display: none;
			}
		}

		.right
		{
			margin-right: 60px; // space for cart button

			form
			{
				display: flex;
				flex-direction: row;

				select
				{
					@media screen and (max-width: $medium)
					{
						display: none;
					}
				}
			}

			button, .button
			{
				height: 46px;
				width: 150px;
				border: none;
				outline: none;
				transition: background 0.2s;
				background: $cream;
				&:hover { background:$creamhover; }
				color: $dark;
				font-size: 15px;
				font-weight: 600;
				margin-left: 6px;
				letter-spacing: 1px;
				cursor: pointer;
				
				@media screen and (max-width: $medium)
				{
					margin-left: 50px; // so it gives the hamburger menu space
				}
			}
		}

		@media screen and (max-width: $small)
		{
			margin: 0;
			width: 100%;

			.right
			{
				width: 100%;
				height: 100%;
				margin-right: 0;

				form
				{
					height: 100%;
				}

				button, .button
				{
					margin: 0;
					height: 100%;
					border: none;
					width: 100%;
					color: $cream;
					background: $green;
					&:hover { background:$greenhover; }
					font-size: 20px;
					text-transform: none;
					letter-spacing: 1px;
				}
			}
		}
	}

	@media screen and (max-width: $small)
	{
		z-index: 99; // 1 above hamburger
	}
}
