
// TODO: need to wrap this so it only affects account section

/*

h1
{
	color: $dark;
	font-size: 32px;
	line-height: 1.2em;
	margin-bottom: 25px;
	margin-top: 50px;
	font-weight: 600;
}

h2
{
	color: $dark;
	font-size: 32px;
	line-height: 1.2em;
	margin-bottom: 25px;
	margin-top: 50px;
	font-weight: 600;
}

*/
