
// Holds some common classes used for credential forms (e.g. login, password recover, etc etc)

// just centers the area where the credential stuff is happening
.credential-area
{
	margin-left: auto;
	margin-right: auto;
	max-width: 353px; // meant to be often overriden, default is to show same on mobile/desktop
}

.credential-logo
{
	width: 118px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 25px;
	img {
		width: 100%;
		height: auto;
	}
}

.credential-form-message
{
	border: 1px solid rgba(MediumSeaGreen, 0.2);
	background: rgba(MediumSeaGreen, 0.1);
	color: $green;
	font-size: 14px;
	margin-bottom: 10px;
	border-radius: 4px;
	padding: 20px;
	font-weight: 500;
	line-height: 1.4em;
	text-align: center;
}

.credential-form
{
	background-color: #FAF9F5;
	border: 1px solid #ddd;
	border-radius: 12px;
	box-shadow: 0 0 30px rgba(black, 0.15);
	padding: 25px;
	padding-bottom: 15px;

	h2
	{
		font-size: 16px;
		font-weight: 700;
		color: $green;
		text-align: center;
		margin: 0;
		margin-bottom: 20px;
	}
	
	input, button {
		display:block;
		margin-bottom:10px;
		box-sizing:border-box;
		font-size: 15px;
	}

	input[type=text],
	input[type=email],
	input[type=password],
	{
		width: 100%;
		background: white;
		border: 1px solid #ddd;
		border-radius: 4px;
		padding: 12px 15px;
	}

	.credential-form-buttons
	{
		text-align: right;
		&.centered { text-align:center; }
		&.left { text-align:left; }

		button,
		.cred-button,
		input[type=submit],
		{
			display: inline-block;
			padding: 10px 30px;
			background: $green;
			&:hover { background: $greenhover; }
			transition: background 0.2s;
			border-radius: 4px;
			color: $cream;
			border: none;
			outline: none;
			display: inline-block;
			text-align: center;
			cursor: pointer;
		}
	}

	.errors
	{
		border: 1px solid rgba(orangered, 0.2);
		background: rgba(orangered, 0.1);
		color: darkred;
		font-size: 13px;
		margin-bottom: 10px;
		border-radius: 4px;
		padding-right: 15px;
		a { color:inherit; text-decoration:underline; }
		ul { list-style-type: circle; }
		ul li:not(:first-child) { margin-top:10px; }
	}

	.ssw-accept-wrapper { display:none; }
}

.credential-sub-form
{
	margin-top: 10px;
	text-align: center;

	a
	{
		display: inline-block;
		margin: 0 10px;
		color: $green;
		&:hover { color:$greenhover; }
		transition: color 0.2s;
		font-size: 13px;
		font-weight: 500;
		cursor: pointer;
	}

	.pipe
	{
		color: #b1b1b1;
		top: 1px;
		font-size: 14px;
	}
}
