
#bottom-trial-popin
{
	position: fixed;
	bottom: 0;
	width: 100%;
	max-width: 600px;
	right: 50%;
	transition: transform 0.5s;
	transform: translateX(50%);
	color: $cream;
	font-weight: 400;
	z-index: 9999999;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	@media screen and (min-width: 600px) {
		border-top-left-radius: 12px;
		border-top-right-radius: 12px;
	}
	
	&.hidden {
		transform: translateX(50%) translateY(100%);
		box-shadow: none;
	}

	&.minimized {
		transform: translateX(50%) translateY(calc(100% - 30px));
		.min-button { transform: rotate(180deg); }
	}
	
	.popin-header
	{
		background: #154B59;
		text-align: center;
		height: 30px;
		line-height: 31px;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 500;
		letter-spacing: 2px;
		position: relative;
		margin-bottom: -1px; // shouldn't be needed, but sometimes small width shows a 1px space otherwise
		
		@media screen and (min-width: 600px) {
			border-top-left-radius: 12px;
			border-top-right-radius: 12px;
			margin-bottom: 0px; // above bugfix not needed on desktop
		}

		.min-button
		{
			position: absolute;
			right: 0;
			top: 0;
			padding: 0 16px;
			cursor: pointer;
			opacity: 0.7;
			&:hover { opacity:1; }
			transition: opacity 0.2s;

			&::after 
			{
				content: "\2039";
				display: block;
				color: $cream;
				font-size: 20px;
				transform: rotate(-90deg);
				top: -1px;
				position: relative;
			}
		}
	}
	
	.popin-content
	{
		background: $dark;
		padding: 18px 20px;
		
		.price-graphics
		{
			height: 35px;
			position: relative;
			
			.circle
			{
				height: 35px;
				width: 36px;
				border: 2px solid #207084;
				border-radius: 99px;
				background: #144552;
				color: $cream;
				line-height: 36px;
				text-align: center;
				font-size: 13px;
				font-weight: 500;
				&::before {
					content: '$';
					font-size: 9px;
					position: relative;
					top: -4px;
					margin-right: 1px;
					font-weight: 400;
				}
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				
				.cross-out
				{
					width: 100%;
					height: 100%;
					border-radius: 99px;
					border: 3px solid $green;
					position: absolute;
					left: -3px;
					top: -3px;
					opacity: 0;
					&::before {
						content: '';
						display: block;
						width: 100%;
						height: 3px;
						background: $green;
						position: relative;
						top: calc(50% - 1.5px);
						transform: rotate(-45deg);
					}
				}
			}
			
			.arrow {
				&::before {
					content: '';
					display: block;
					width: 15px;
					height: 6px;
					background: $cream;
					position: absolute;
					top: 3px;
				}
				&::after {
					content: '';
					display: block;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 6px 0 6px 7px;
					border-color: transparent transparent transparent $cream;
					position: absolute;
					top: 0;
					left: 14px;
				}
				position: absolute;
				top: 14px;
				left: 50%;
				transform: translateX(-50%);
				width: 18px;
				height: 11px;
			}
		}
		
		.subscribe-text
		{
			font-size: 15px;
			text-align: center;
			margin: 18px 0;
		}
		
		.cta-bar
		{
			display: flex;
			flex-direction: row;
			justify-content: center;
			
			.popin-btn
			{
				height: 40px;
				line-height: 41px;
				border-radius: 6px;
				background: $green;
				font-size: 16px;
				font-weight: 600;
				margin: 0 3px;
				width: 165px;
				text-align: center;
				cursor: pointer;
				transition: background 0.2s;
				&:hover { background:#476756; }
				
				&.subdued {
					background: #185665;
					width: 103px;
					font-size: 12px;
					&:hover { background:#134653; }
				}
			}
		}
		
		.subtext
		{
			text-align: center;
			font-size: 12px;
			opacity: 0.8;
			margin: 16px 0 8px;
		}
	}
}
