
.button
{
	display: inline-flex;
	min-width: 280px;
	box-sizing: border-box;
	padding: 0 30px;
	text-align: center;
	align-items: center;
	justify-content: center;
	transition: background-color 0.2s;
	background: $green;
	&:hover { background: $greenhover; }
	color: $cream;
	height: 50px;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 5px;
	text-transform: uppercase;
	outline: none;
	border: none;
	cursor: pointer;

	&.light
	{
		background: $cream;
		&:hover { background: $creamhover; }
		color: $dark;
	}

	&.dark
	{
		background: $dark;
		&:hover { background: $darkhover; }
		color: $cream;
	}

	@media screen and (max-width: $medium)
	{
		min-width: 220px;
		font-size: 13px;
		letter-spacing: 4px;
		height: 45px;

		&.small
		{
			min-width: 120px;
			padding: 0 30px;
			height: 30px;
			font-size: 12px;
			font-weight: bold;
			letter-spacing: 1px;
			text-transform: none;
			font-weight: 600;
		}
	}

	&.small
	{
		min-width: 120px;
		padding: 0 30px;
		height: 30px;
		font-size: 12px;
		font-weight: bold;
		letter-spacing: 1px;
		text-transform: none;
		font-weight: 600;

		@media screen and (max-width: $medium)
		{
			min-width: 90px;
			padding: 0 20px;
		}
	}

	&.large
	{
		min-width: 300px;
		padding: 0 60px;
		height: 60px;
		font-size: 18px;
		font-weight: bold;
		letter-spacing: 6px;
		font-weight: 600;

		@media screen and (max-width: $medium)
		{
			min-width: 260px;
			padding: 0 40px;
		}
	}

	&.bordered
	{
		border: 2px solid $cream;
		&.light { border-color: $green; }
		&.small { border-width: 1px; }
	}
}


select
{
	color: $dark;
	border: 2px solid $green;
	background-color: $cream;
	font-size: 15px;
	font-weight: 500;
	font-family: inherit;
	line-height: 1.3;
	height: 46px;
	padding: 0.5em 60px 0.5em 20px;
	min-width: 260px;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2217%22%20height%3D%2218%22%20viewBox%3D%220%200%2017%2018%22%3E%0A%20%20%20%20%3Cpath%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23567D68%22%20stroke-linecap%3D%22square%22%20stroke-width%3D%222%22%20d%3D%22M2.219%2011.453L2.333%202.667%2011.12%202.553%22%20transform%3D%22rotate%28-135%208.032%207.708%29%22%2F%3E%0A%3C%2Fsvg%3E%0A');
	background-repeat: no-repeat;
	background-position: right 15px top 9.5px, 0 0;
	background-size: 1.1em auto, 100%;
	transition: border-color 0.2s;

	&::-ms-expand {
		display: none;
	}
	&:hover {
		border-color: #888;
	}
	&:focus {
		outline: none;
	}
	option {
		font-weight:normal;
	}
}

select.inverted
{
	color: $cream;
	background-color: $green;
	border-color: #{$cream}99;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2217%22%20height%3D%2218%22%20viewBox%3D%220%200%2017%2018%22%3E%0A%20%20%20%20%3Cpath%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23F5F4EC%22%20stroke-linecap%3D%22square%22%20stroke-width%3D%222%22%20d%3D%22M2.219%2011.453L2.333%202.667%2011.12%202.553%22%20transform%3D%22rotate%28-135%208.032%207.708%29%22%2F%3E%0A%3C%2Fsvg%3E%0A');

	&:hover {
		border-color: #{$cream};
	}
}

.input-minus
{
	position: absolute;
	z-index: 1;
	height: 30px;
	line-height: 30px;
	width: 30px;
	text-align: center;
	font-size: 30px;
	font-weight: 500;
	margin-left: 8px;
	margin-top: 9px;
	user-select: none;
	cursor: pointer;
	color: $green;
	transition: color 0.2s, opacity 0.2s;
	&:hover { color:$greenhover; }
}
.input-plus
{
	position: absolute;
	z-index: 1;
	height: 30px;
	line-height: 32px;
	width: 30px;
	text-align: center;
	font-size: 26px;
	font-weight: 500;
	margin-left: 61px;
	margin-top: 9px;
	user-select: none;
	cursor: pointer;
	color: $green;
	transition: color 0.2s, opacity 0.2s;
	&:hover { color:$greenhover; }
}
.input-minus,
.input-plus,
.input-minus + input[type="number"],
{
	transition: color 0.2s, opacity 0.2s;

	&.disabled
	{
		opacity: 0.5;
		pointer-events: none;
	}

	&.quantity-disabled
	{
		opacity: 0.25 !important;
		pointer-events: none;
	}
}

.spacer-5 { height:5px; }
.spacer-10 { height:10px; }
.spacer-20 { height:20px; }
.spacer-25 { height:25px; }
.spacer-50 { height:50px; }
.spacer-100 { height:100px; }

.mobile-only-medium-large {
	display: none;
	@media screen and (max-width: $medium-large) { display:block; }
}
.mobile-only-medium {
	display: none;
	@media screen and (max-width: $medium) { display:block; }
}
.mobile-only-medium-small {
	display: none;
	@media screen and (max-width: $medium-small) { display:block; }
}
.mobile-only-small {
	display: none;
	@media screen and (max-width: $small) { display:block; }
}

.desktop-only-medium-large {
	@media screen and (max-width: $medium-large) { display:none; }
}
.desktop-only-medium {
	@media screen and (max-width: $medium) { display:none; }
}
.desktop-only-medium-small {
	@media screen and (max-width: $medium-small) { display:none; }
}
.desktop-only-small {
	@media screen and (max-width: $small) { display:none; }
}
