
#site-header
{
	position: fixed;
	width: 100%;
	z-index: 10000000;

	#header-announcement
	{
		height: 45px;
		background: $dark;

		.main-column
		{
			height: 100%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			& > div
			{
				height: 100%;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;

				.icon
				{
					width: auto;
					height: 28px;
					margin-right: 9px;
				}

				aside // the text
				{
					font-size: 15px;
					color: $cream;
					font-weight: 500;
					letter-spacing: 0.2px;
					b { font-weight:700; text-transform:uppercase; }
				}
			}
		}

		@media screen and (max-width: $medium-small)
		{
			height: 30px;

			.main-column
			{
				.icon { display:none; }
				aside { font-size:13px; letter-spacing:0.3px; b{ font-weight:500; text-transform:none; } }		
			}
		}
	}

	#header-menu
	{ 
		height: 70px;
		transition: background 0.4s, height 0.4s, box-shadow 0.4s;
		position: static;

		.main-column
		{
			height: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;

			.logo-area
			{
				flex: 1;

				a
				{
					display: inline-block;

					.logo-img
					{
						display: block;
						width: 114px;
						height: 32px;
						&.cream { position:absolute; }
						transition: opacity 0.2s;
					}
				}

				@media screen and (max-width: $medium-small)
				{
					order: 2;
					flex: 0 1 auto;
					position: absolute;
					right: 50%;
					transform: translateX(50%);	
				}
			}

			.menu-system
			{
				position: absolute;
				right: 50%;
				transform: translateX(50%);
				.hamburger { display:none; }

				nav
				{
					a
					{
						font-size: 15px;
						font-weight: 700;
						text-transform: uppercase;
						letter-spacing: 5px;
						padding: 8px 20px;
						transition: color 0.2s;

						@media screen and (max-width: $medium-large)
						{
							padding: 8px 15px;
							letter-spacing: 4px;
						}

						@media screen and (max-width: $medium)
						{
							padding: 8px 9px;
							letter-spacing: 2px;
						}
					}

					.brandline { display:none; }
				}

				@media screen and (max-width: $medium-small)
				{
					order: 1;
					position: static;
					right: auto;
					transform: none;
					flex: 1;
					align-items: center;
					justify-content: center;

					.hamburger
					{
						display: block;
						z-index: 98;
						position: absolute;
						cursor: pointer;
						width: 30px;
						height: 30px;
						top: 50px;

						span
						{
							display: block;
							position: absolute;
							height: 2px;
							width: 22px;
							left: 4px;
							border-radius: 99px;
							opacity: 1;
							transform: rotate(0deg);
							transition: .25s ease-in-out;

							&:nth-child(1) { top:7px; }
							&:nth-child(2) { top:14px; }
							&:nth-child(3) { top:21px; }
						}
					}

					.hamburger[data-open="true"]
					{
						span
						{
							background: $cream;

							&:nth-child(1) {
								top: 14px;
								transform: rotate(135deg);
							}
							&:nth-child(2) {
								opacity: 0;
								left: -20px;
							}
							&:nth-child(3) {
								top: 14px;
								transform: rotate(-135deg);
							}
						}
					}

					nav
					{
						position: absolute;
						left: 0;
						top: 0;
						width: 100vw;
						background: $green;
						overflow: hidden;
						height: 0px;
						transition: height 0.5s;
						z-index: 97;
						display: flex;
						flex-direction: column;
						justify-content: center;

						a
						{
							color: $cream;
							&:hover { color:$creamhover; }
							display: block;
							padding: 20px 0;
							margin: 10px 0;
							text-align: center;
							font-size: 25px;
							font-weight: 400;
							text-transform: none;
						}

						.brandline
						{
							$size: 300px;
							pointer-events: none;
							display: block;
							overflow: hidden;
							width: $size;
							height: $size;
							position: absolute;
							right: 0;
							bottom: 0;
							z-index: 97;
							opacity: 0; // while closed
							transition: opacity 0.2s;

							&::after
							{
								content: "";
								display: block;
								position: absolute;
								width: $size*2;
								height: $size*2;
								border-left: 2px solid $cream;
								left: 90px;
								top: 90px;
								transform: rotate(45deg);
							}
						}
					}

					.hamburger[data-open="true"] + nav
					{
						height: 100vh;
						
						.brandline {
							opacity: 1;
							transition: opacity 0.4s; // slower on way in
							transition-delay: 0.2s; // only delay way in
						}
					}
				}
			}

			.cart-button-area
			{
				display: flex;

				.cta-button
				{
					pointer-events: none;
					opacity: 0;
					margin-right: 25px;
					line-height: 12px;
					font-size: 12px;
					color: $dark;
					border-radius: 3px;
					transition: opacity 0.4s, background-color 0.2s;
					background: $cream;
					&:hover { background:$creamhover; }
					width: 100px;
					height: 32px;
					line-height: 32px;
					text-align: center;
					font-weight: 500;
					letter-spacing: 0.5px;
					cursor: pointer;
				}

				#cart-button
				{
					z-index: 1;
					transition: opacity 0.2s;
					&:hover { opacity:0.8; }

					.cart-img
					{
						display: block;
						width: 35px;
						height: 35px;
						&.cream { position:absolute; }
						transition: opacity 0.2s;
					}

					.cart-number
					{
						display: inline-block;
						box-sizing: border-box;
						line-height: 22px;
						height: 22px;
						min-width: 22px;
						padding: 0 6px;
						border-radius: 99px;
						transition: background 0.2s, color 0.2s;
						font-size: 12px;
						font-weight: 600;
						text-align: center;
						position: absolute;
						top: -8px;
						right: -10px;
					}
				}

				@media screen and (max-width: $medium-small)
				{
					order: 3;
				}
			}

			@media screen and (max-width: $medium-small)
			{
				position: static; // so mobile menu can be absolute to parent
			}
		}

		// ------------------------------------------

		&.scrolled:not(.no-cta)
		{
			.cart-button-area
			{
				.cta-button
				{
					opacity: 1;
					pointer-events: auto;
				}
			}

			@media screen and (max-width: $medium-small)
			{
				.logo-area
				{
					display: none;
				}
			}
		}

		&.green,
		&.transparent-index.scrolled
		{
			background: $green;
			.logo-img.cream { opacity:1; }
			.logo-img.green { opacity:0; }
			.menu-system a { color:$cream; &:hover{color:$creamhover;} }
			.menu-system .hamburger span { background:$cream; }
			.cart-button-area .cart-img.cream { opacity:1; }
			.cart-button-area .cart-img.green { opacity:0; }
			.cart-button-area .cart-number { background:$cream; color:$green; }
		}

		&.cream
		{
			background: $cream;
			.logo-img.cream { opacity:0; }
			.logo-img.green { opacity:1; }
			.menu-system a { color:$green; &:hover{color:$greenhover;} }
			.menu-system .hamburger span { background:$green; }
			.cart-button-area .cart-img.cream { opacity:0; }
			.cart-button-area .cart-img.green { opacity:1; }
			.cart-button-area .cart-number { background:$green; color:$cream; }
		}

		&.transparent
		{
			background: transarent;
			.logo-img.cream { opacity:0; }
			.logo-img.green { opacity:1; }
			.menu-system a { color:$green; &:hover{color:$greenhover;} }
			.menu-system .hamburger span { background:$green; }
			.cart-button-area .cart-img.cream { opacity:0; }
			.cart-button-area .cart-img.green { opacity:1; }
			.cart-button-area .cart-number { background:$green; color:$cream; }
		}

		&.transparent-index
		{
			background: transarent;
			.logo-img.cream { opacity:1; }
			.logo-img.green { opacity:0; }
			.menu-system a { color:$cream; &:hover{color:$creamhover;} }
			.menu-system .hamburger span { background:$cream; }

			// TODO: need to reverse this for mobile???
			.cart-button-area .cart-img.cream { opacity:0; }
			.cart-button-area .cart-img.green { opacity:1; }
			.cart-button-area .cart-number { background:$green; color:$cream; }
		}

		&.shadow,
		&.shadow-scrolled.scrolled,
		&.transparent-index.scrolled
		{
			box-shadow: 0 0 6px rgba(0,0,0,0.35);
		}

		&.cart-cream-unscrolled:not(.scrolled)
		{
			.cart-button-area .cart-img.cream { opacity:1; }
			.cart-button-area .cart-img.green { opacity:0; }
			.cart-button-area .cart-number { background:$cream; color:$green; }
		}

		&.cart-cream-mobile
		{
			@media screen and (max-width: $medium)
			{
				.cart-button-area .cart-img.cream { opacity:1; }
				.cart-button-area .cart-img.green { opacity:0; }
				.cart-button-area .cart-number { background:$cream; color:$green; }
			}
		}

		&.no-cart-area
		{
			.cart-button-area { display:none; }
		}

		&.no-nav {
			.hamburger,
			.menu-system,
			.cta-button { 
				pointer-events: none !important;
				opacity: 0 !important;
			}
		}
	}
}

// spacer for pushing content below the header
#site-header-spacer
{
	height: 115px;

	@media screen and (max-width: $medium-small)
	{
		height: 100px;
	}
}

// on index we need to only space for the top black bar (maybe need it once scrolled???)
body.page-index #site-header-spacer
{
	height: 45px;

	@media screen and (max-width: $medium-small)
	{
		height: 30px;
	}
}
