
&.compare-table
{
	padding: 0;
	
	table
	{
		width: 100%;
		border-collapse: collapse;

		@media screen and (max-width: $small) {
			margin-left: -13px;
			margin-right: -13px;
			width: calc(100% + 26px);
		}

		tr
		{
			th
			{
				text-align: center;
				background: $green;
				color: $cream;
				padding: 20px 35px;
				font-size: 15px;
				font-weight: bold;
				letter-spacing: 5px;

				@media screen and (max-width: $medium-large) {
					padding: 20px 30px;
					font-size: 14px;
					letter-spacing: 4px;
				}
				@media screen and (max-width: $medium) {
					padding: 20px 25px;
					font-size: 13px;
					letter-spacing: 3px;
				}
				@media screen and (max-width: $medium-small) {
					padding: 15px 15px;
					font-size: 12px;
					letter-spacing: 2px;
				}
				@media screen and (max-width: $small) {
					padding: 15px 8px;
				}

				.krete-logo
				{
					width: 125px;
					height: auto;
					@media screen and (max-width: $medium-large) {
						width: 100px;
					}
					@media screen and (max-width: $medium) {
						width: 75px;
					}
					@media screen and (max-width: $medium-small) {
						width: 70px;
					}
					@media screen and (max-width: $small) {
						width: 65px;
					}
				}
			}

			td
			{
				padding: 17px 35px 13px;
				font-size: 20px;
				line-height: 30px;
				color: $dark;
				span { display:inline-block; } // for img sizing

				@media screen and (max-width: $medium-large) {
					font-size: 19px;
					line-height: 28px;
					padding-left: 30px;
					padding-right: 30px;
					span img { width: 80%; }
				}
				@media screen and (max-width: $medium) {
					font-size: 17px;
					line-height: 27px;
					padding-left: 25px;
					padding-right: 25px;
					span img { width: 60%; }
				}
				@media screen and (max-width: $medium-small) {
					font-size: 15px;
					line-height: 23px;
					padding-left: 20px;
					padding-right: 20px;
				}
				@media screen and (max-width: $small) {
					font-size: 14px;
					line-height: 21px;
					padding-left: 15px;
					padding-right: 15px;
				}

				span.asterisk::after
				{
					content: "*";
					position: absolute;
					margin-top: -5px;
					margin-left: 4px;
					font-size: 18px;
					font-weight: bold;
					color: $green;
				}

				span.footnote
				{
					position: absolute;
					bottom: -2px;
					font-size: 13px;
					color: $green;
					text-align: center;
					width: 100%;
					display: block;
					white-space: nowrap;
					font-weight: 600;
					left: 50%;
					transform: translateX(-50%);
					@media screen and (max-width: $medium) { font-size:12px; }
					@media screen and (max-width: $medium-small) { font-size:11px; }
					@media screen and (max-width: $medium-small) { font-size:10px; }
				}
			}

			th, td
			{
				border: 2px solid $green;
			}

			td:not(:first-child)
			{
				vertical-align: middle;
				text-align: center;
			}
		}
	}
}
